
/* control navigation color (dots on right side of page) */
#fp-nav ul li a span, .fp-slidesNav ul li a span 
{
    background: #F00;
}

h.home
{
   float: left;
   width: 50%;
   padding-left: 1em;
   color: white;
   font-size: 40px;
   /* font-weight: bold; */
}

#body-header
{
	font-size: 35px; 
	font-weight: bold; 
	color:#1a1a1a;
}

#body-sub-header
{
  font-size: 20px;
  font-weight: bold; 
  color:#1a1a1a;  
}

#body-text
{
	font-size: 16px; 
	color:#1a1a1a;
}

#chart-header
{
  padding-right: 150px; 
  font-size: 20px; 
  font-weight: bold;
}

#chart-container
{
  float: right; 
  width: 70%; 
  text-align: center;
}
#chart-container2
{
  float: right; 
  width: 50%; 
  text-align: center;
}

#map
{
  width: 800px;
  padding-left: 75px
}

.bar 
{
  fill: #6F257F;
}
.axis path,.axis line 
{
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path 
{
  display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#mybarchart
{
  /* margin-left: 10px; */
}

form 
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mytreemap 
{
  font: 10px sans-serif;
}

