
/* control navigation color (dots on right side of page) */
#fp-nav ul li a span, .fp-slidesNav ul li a span 
{
    background: #F00;
}


div.home
{
  background-image: url(../images/main_img.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h.home
{
   float: left;
   width: 50%;
   padding-left: 1em;
   padding-top: 3em;
   color: white;
   font-family: 'Work Sans';
   font-size: 30px;
   font-weight: 900;
   
}

h.home-sub-head
{
   float: left;
   width: 50%;
   padding-left: 1em;
   color: white;
   font-family: 'Work Sans';
   font-size: 20px;
   font-weight: 900;
}

#body-header
{
	font-size: 30px; 
	font-weight: bold; 
	color:#1a1a1a;
  font-family: 'Work Sans';
}

#body-sub-header
{
  font-size: 17px;
  font-weight: bold; 
  color:#1a1a1a;
  font-family: 'Work Sans';  
}

#body-text
{
	font-size: 15px; 
	color:#1a1a1a;
  font-family: 'Work Sans';
}

#chart-header
{
  padding-right: 150px; 
  font-size: 20px; 
  font-weight: bold;
}

#chart-container
{
  float: right; 
  width: 70%; 
  text-align: center;
}
#chart-container2
{
  float: right; 
  width: 50%; 
  text-align: center;
}

#map
{
  width: 800px;
  padding-left: 75px
}

.bar 
{
  fill: darkblue;
  /* fill: #6F257F; */
}
.axis path,.axis line 
{
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path 
{
  display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

#mybarchart
{
  /* margin-left: 10px; */
}

form 
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mytreemap 
{
  font: 10px sans-serif;
}

